{% extends "kanban/layout.html" %} {% block body %}
<div class="container-lg">
  <h2>Register</h2>

  {% if message %}
  <div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg
      class="bi flex-shrink-0 me-2"
      width="24"
      height="24"
      role="img"
      aria-label="Warning:"
    >
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>{{message}}</div>
  </div>
  {% endif %}

  <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <input
        class="form-control mb-3"
        autofocus
        type="text"
        name="username"
        required
        placeholder="Username"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control mb-3"
        type="email"
        name="email"
        required
        placeholder="Email Address"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control mb-3"
        type="password"
        name="password"
        required
        placeholder="Password"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control mb-3"
        type="password"
        name="confirmation"
        required
        placeholder="Confirm Password"
      />
    </div>
    <input class="btn btn-primary" type="submit" value="Register" />
  </form>

  Already have an account? <a href="{% url 'login' %}">Log In here.</a>
</div>
{% endblock %}
