.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.post-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.posts-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.post-form label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

.post-form textarea {
  margin: 0 0 0.5rem 0;
}

.body {
  margin: 8px;
}

.post-container {
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin: 8px 0;
  width: 100%;
  height: auto;
  border: solid 1px #ccc;
  border-radius: 8px;
}

.post-username {
  margin-right: 16px;
  font-weight: bold;
  min-width: 96px;
}

.post-message {
  border: solid 1px #ccc;
  width: 100%;
  padding: 4px;
  border-radius: 8px;
  margin: 0 0 4px 0;
}

.post-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.post-date {
  font-size: 12px;
  color: #666;
}

.username-anchor {
  color: black;
}

.edit-button {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.edit-button:hover {
  color: rgba(0, 0, 0, 0.8);
}
